<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net452" />
  <package id="LightInject" version="3.0.2.7" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="structuremap" version="3.1.6.186" targetFramework="net452" />
</packages>